@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@font-face {
    font-family: 'Tkachenko';
    src: url('./font/ofont.ru_Tkachenko\ Sketch\ 4F.ttf') format('truetype');
  }  


  @font-face {
    font-family: 'DrukWideCyr'; /* Укажите имя шрифта */
    src: url('../font/drukwidecyr-bold (1).otf') format('opentype'); /* Путь к файлу шрифта */
    font-weight: bold; /* Укажите начертание шрифта */
    font-style: normal; /* Укажите стиль шрифта */
}

* {
    margin: 0;
    padding: 0;
}

body,  html {
    height: 100%;
    background-color: #101010;
    color: #fff;
    
}

body {
    font-family: "Oswald", sans-serif;
    
}

header {
    font-family: "Tkachenko", sans-serif;
    width: 100%;
    height: 150px;
    background-color: #101010;
    color: #fff;
}

.li__item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.ul__wrapper {
    display: flex; /* Делаем список флекс-контейнером */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    height: 100%; /* Заполняем всю высоту header */
    list-style-type: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
}

.li__item {
    display: flex;
    gap: 50px; 
    margin-top: 50px;
}

.li__item a {
    text-decoration: none; 
    color: inherit; 
}

#btn {
    width: 243px;
    height: 59px;
    margin-left: 84px;
    margin-top: -10px;
    background: linear-gradient(#FF0B8F, #F46767); /* Замените цвета на желаемые */
    color: white; /* Цвет текста (по желанию) */
    border: none; /* Убираем рамку (если нужно) */
    border-radius: 45px; /* Закругление углов (по желанию) */
    display: flex; /* Для центрирования текста */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-decoration: none; /* Убираем подчеркивание для ссылки */
    font-size: 16px; /* Размер шрифта (по желанию) */
    
}

#btn:hover {
transition: 1.1s;

}
.logo__item {
    margin-top: 40px;
    margin-right: 180px;
}

.ul__wrapper {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */

}

.ul__wrapper li {
    position: relative; /* Для позиционирования псевдоэлемента */
    
}

.ul__wrapper a {
    text-decoration: none; /* Убираем подчеркивание текста */
    color: white; /* Цвет текста */
    font-size: 18px; /* Размер текста */
    padding: 5px 0; /* Вертикальные отступы */
}


.ul__wrapper a::after {
    content: ""; /* Создаем пустой контент */
    position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* Сдвигаем в центр по оси X */
    bottom: -2px; /* Располагаем под текстом */
    width: 100%; /* Ширина полоски */
    height: 3px; /* Высота полоски */
    background: linear-gradient(90deg, #F46767, #FF0B8F); /* Линейный градиент */
    transform: translateX(-50%) scaleX(0); /* Центрируем и скрываем */
    transition: transform 0.4s ease; /* Плавный переход */
    bottom: -10px;
  
}


.ul__wrapper a:hover::after {
    transform: translateX(-50%) scaleX(1);
}


#r {
    position: relative; /* Убедитесь, что это свойство не нарушает другие стили */
    
}

#r::after {
    transition: none; /* Отключаем переход для псевдоэлемента */
}

#r:hover::after {
    transform: none; /* Убираем трансформацию при наведении */
}

#r::after {
    content: ""; /* Псевдоэлемент существует, но мы управляем его видимостью */
    position: absolute;
    left: 50%;
    bottom: -10px; /* Располагаем под текстом */
    width: 100%; /* Ширина полоски */
    height: 3px; /* Высота полоски */
    background: linear-gradient(90deg, #F46767, #FF0B8F); /* Линейный градиент */
    transform: translateX(-50%) scaleX(0); /* Центрируем и скрываем */
    transition: transform 0.4s ease; /* Плавный переход */
}

/* Чтобы полоска не появилась при наведении на ссылку #r */
#r:hover::after {
    transform: translateX(-50%) scaleX(0); /* Скрываем полоску */
}

#btn:hover {
    transition: 1.1s;
    transform: scale(1.1);
}

#back__btn {
     width: 243px;
    height: 59px;
    background: linear-gradient(#FF0B8F, #F46767); 
    color: white; 
    border: none; 
    border-radius: 15px; 
    text-decoration: none; 
    font-size: 16px; 
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    font-weight: bold;
}

#back__btn:hover {
    transition: 1.1s;
    transform: scale(1.1);
}

.card {
    display: flex;
    justify-content: center;
    
}

#bronirov {
    width: 145px;
    height: 50px;
    background: linear-gradient(#FF0B8F, #F46767); 
    color: white; 
    border: none; 
    border-radius: 6px; 
    text-decoration: none; 
    font-size: 16px; 
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    font-weight: bold;
}

#bronirov:hover{
    transition: 1.1s;
    transform: scale(1.1);
}


.popup {
    display: none; /* Скрыт по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Белый фон */
    z-index: 1000; /* Поверх других элементов */
    justify-content: center; /* Центрирование по вертикали */
    align-items: center; /* Центрирование по горизонтали */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease, display 0s linear 0.5s; /* Плавный переход */
    
}

.popup.active {
    display: flex; /* Показываем блок как flex контейнер */
    opacity: 1; /* Полная непрозрачность */
    transition: opacity 0.5s ease; /* Плавный переход для появления */
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.perosonal__data {
    font-size: 14px;
    font-weight: lighter;
}

#car__image{
    display: flex;
    justify-content: start;
    margin-left: 332px;
    margin-top: -150px;
    z-index: 1;
}

.background__blur {
    width: 341px;
    height: 198px;
    background: linear-gradient(90deg, #F46767, #FF0B8F); /* Удален пробел */
    filter: blur(82px); /* Возможно, вы имели в виду 12px вместо 122 */
    border-radius: 300px;
    transform: translateX(-300px); /* Начальное смещение слева */
    display: flex;
    justify-content: start;
    margin-left: 480px;
    margin-top: 200px;
    position: absolute;
}

#back {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
}

.back__kit {
    display: flex;
    justify-content: start;
    margin-left: 322px;
}

.link__descrip {
    display: flex;
    justify-content: start;
    margin-left: 342px;
    position: absolute;
    margin-top: -18px;
}

.background__centr {
    margin-left: 1099px;
    position: relative;
    top: 275px;
}

.flex__roditel {
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
    margin-left: 1400px;
    position: absolute;
    
}

.fl {
    position: relative;
    top: 275px;
}

.flex__btn__bron {
    display: flex;
    justify-content: start;
    margin-left: 1100px;
    margin-top: -100px;
}

.center {
    margin-top: -100px;
}

#back {
    text-decoration: underline;
}

#back:hover {
    scale: 1.1;
    transition: 1.1s;
}

.back__kit {
    cursor: pointer;
}

.section__cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 500px;
    margin-left: -140px;
    margin-top: 50px;
}

.child {
    white-space: nowrap;
    margin: 0;
}

.child-text {
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    
}

.child__flex {
    margin-top: -10px;
}

footer {
    font-family: "Tkachenko", sans-serif;
    height: 50%;
    width: 100%;
    background-color: #101010;
 
}

.logo__flex__foot {
    display: flex;
    justify-content: center;
    margin-right: 1180px;
}

.logo__foot {
margin-top: 100px;
}

.footer-nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.footer-nav li {
    display: inline; /* Располагаем элементы в ряд */
    margin: 0 15px; /* Отступы между элементами */
}

.footer-nav a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Анимация при наведении */
}

.footer-nav a:hover {
    color: #ff6347; 
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-left: -200px;
}

.links__social .social__inner {
    display: inline;
    margin: 0 10px; 
}

.links__social {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-left: 500px;
}

#btn__check {
    width: 243px;
    height: 59px;
    background: linear-gradient(90deg, #F46767, #FF0B8F);
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}

#btn__check:hover {
    transition: 1.1s;
    transform: scale(1.1);
}

.btn__foot__fl {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-top: -60px;
}

.soc:hover {
    transition: 0.5s;
    opacity: 70%;
}

.social__inner {
    z-index: 1;
}

.svg__logo {
    position: absolute;
    margin-top: 270px;
}

.BsoP_M2SZZTQk0HIeOwh  {
z-index: -1;
}

.cent {
    display: flex;
    justify-content: center;
    margin-left: -190px;
}

.btn__register a {
    text-decoration: none;
    color: #FFF;
}

#btn__check {
    font-family: "Oswald", sans-serif;
}

.sort__wrap {
    margin-left: 900px;
    margin-top: -135px;
    
}

#cont__filter {
    z-index: 1;
}

.center__cart {
    margin-top: 135px;
}

#carSort {
    margin-top: 12px;
}

#search-input {
    border: 1px solid #ddd;
}

#search-input:focus {
    outline: none;
}

.search__cont {
    display: flex;
    justify-content: center;
}

.search__cont {
    position: relative;
    margin-top: -42px;
    margin-left: 1390px;
}

#carSort {
    z-index: 1;
    color: #000;
}

input, select {
    font-family: "Oswald", sans-serif;
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    overflow-y: hidden ;
}

.modal-content {
    background-color: #000;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    color: #fff;
    width: 560px;
    height: 438px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

#data__c {
    font-size: 16px;
    font-weight: lighter;
    margin-top: 10px;
}

.perezv__wrap{
    display: flex;
    justify-content: center;
}

.data__wrap {
    display: flex;
    justify-content: center;
}

#data__search__name {
    width: 490px;
    height: 59px;
    border: 1px solid #4E4C4C;
    border-radius: 45px;
    background: none;
    color: #fff;
    text-indent: 57px; 
}

#data__search__name:focus {
outline: none;
}

.ser__wrap {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#phone__fieldset__tw {
    width: 490px;
    height: 59px;
    border: 1px solid #4E4C4C;
    border-radius: 45px;
    background: none;
    color: #fff;
    text-indent: 58px; 
}

#phone__fieldset__tw:focus {
outline: none;
}

.fiel__wrap {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.cou {
    position: relative;
    top: 53px;
    left: 28px;
}

#call__me__btn {
    width: 490px;
    height: 59px;
    background: linear-gradient(240deg, #F46767, #FF0B8F);
    border-radius: 45px;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    font-family: "Oswald", sans-serif;
    cursor: pointer;

}

#call__me__btn:hover {
    transition: 1.1s;
    transform: scale(1.1);
}

.btn__centr {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.center__block {
    margin-top: 20px;
}

.close__btn {
  
    position: relative;
    left: -500px;
    top: 18px;
}

#icon__close:hover {
transition: 0.5s;
opacity: 70%;
}

.BsoP_M2SZZTQk0HIeOwh {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 16px;
    font-family: 'Oswald' sans-serif;
    padding-top: 260px;
}

.GD8ES0FKKrPzZkjTDWlH {
    color: #888;
    margin-right: 15px;
    font-size: 12px;
}

.l5iWVN1HOejcwgoZkw4H:hover {
    transition: 0.5s;
   color: #ff4d4d;

}

.l5iWVN1HOejcwgoZkw4H {
    font-size: 12px;
    color: #fff;
}

.car-image {
    cursor: pointer;
    margin-left: -70px;
}



.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 9;
    padding-top: 20px;
  }
  
  .ad-content {
    position: relative;
    max-width: 500px;
    border-radius: 8px;
  }
  
  .ad-content img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .close-button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20%;
    font-size: 14px;
    cursor: pointer;
  }
  
  
  .close-button:hover {
    background-color: #555;
  }

  .ad-container {
    /* остальные стили */
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.3s ease-in-out, visibility 0s linear 1.3s;
  }
  
  .ad-container.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
 
  .rk {
    display: flex;
    justify-content: center;
    position: relative;
    left: 870px;
    top: -780px;
  }

  #hundle__title {
    width: 52px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #0e0d0d;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 22px; 
    padding: 0; 
    margin: 0; 
    cursor: pointer;
  }

  #hundle__wrapper {
    display: flex;
    justify-content: end;
    position: relative;
    top: 50px;
    right: 25px;
  }

  #search__icon {
    margin: 0;
    padding: 0;
    position: relative;
    top: -52px;
    left: 160px;
  }

  #succ {
display: flex;
justify-content: right;

  }

  #succ__w {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    font-family: "Tkachenko", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 753px;
    margin-left: 200px;
  }

  .required-msg {
    display: none;
    font-size: 12px;
    color: red;
    font-weight: lighter;
    
  }

  .perezv__wrap {
    margin-left: 30px;
  }

  .backgr_obertk {
    width: 1560px;
    height: 739px;
    background-color: #F0F0F0;
    position: absolute;
    z-index: -1;
    margin-top: -80px;
  }


  .slick-carousel {
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    height: 1080px;
  }
  
  .slick-dot {
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
}

.slick-dot.slick-active {
    background: #ff1649;
}

/* #poster {
    max-width: 1000px;
    display: inline-block;
    justify-content: center;
    margin-left: 400px;
  } */

.animate {
    margin-top: 100px;
}

.backgr_obertk {
    margin-left: 100px;
}

.center__container__inner {
    margin-left: -150px;
}

.slick-slide {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Плавный переход */
}

.slick-slide.slick-hidden {
    opacity: 0; /* Исчезает в 0 */
}


.slick-carousel {
    position: relative;
    height: 500px;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

#color {
    color: #ffffff;
}

#closeBtn {
    color: #000;
}

.popup__vlozhenniy {
    margin-top: 150px;
    width: 560px;
    height: 1065px;
    border-radius: 16px;
    background: #F46767;
}

.data__bron {
    font-family: 'DrukWideCyr', sans-serif;
    font-size: 32px;
    margin-top: 47px;
    margin-left: 130px;
}

.data__input {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    margin-left: 235px;
}

.booking-form {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;

}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-input, .form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-input:focus, .form-select:focus {
    border-color: #F46767;
    outline: none;
}

.form-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 522px;
    height: 54px;
    margin-top: 20px;
    font-weight: bolder;
}
.form-button:hover {
    transition: 1.1s;
    transform: scale(1.1);
}
#select__auto {
    width: 522px;
}
.custom-select {
    position: relative;
    display: inline-block;
}

.form-select {
    appearance: none; /* Убираем стандартный стиль */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    padding: 10px; /* Отступы */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругление */
    background-color: white; /* Фоновый цвет */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><polygon points="0,0 5,5 10,0" fill="%23333"/></svg>'); /* Графика треугольника */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Положение треугольника */
    background-size: 10px; /* Размер треугольника */
}

/* Убираем стрелочку у выпадающего списка */
.form-select::-ms-expand {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif; 
    border-radius: 4px;
    background-color: #000000;
    font-weight: bolder;
  }
  

.form-select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><polygon points="0,5 5,0 10,5" fill="%23333"/></svg>'); /* Изменяем треугольник при фокусе */
}


.form-select:focus-visible {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"><polygon points="0,5 5,0 10,5" fill="%23333"/></svg>'); /* Изменяем треугольник при фокусе */
}

.alert__wrapp {
width: 900px;
height: 150px;
background-color: #fff;
margin-top: 100px;
}

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 350px;
}


.alert-success {
    font-family: 'DrukWideCyr', sans-serif;
    font-size: 22px;
    color: #101010;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Задайте высоту, если требуется */
    text-align: center;
}

.alert__wrapp {
    margin: 20px; /* Отступы вокруг блока */
}

.link__descrip__alert {
    position: absolute;
    top: 20px;
    left: 20px;
}


